In [7]:
import urllib.request

In [8]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [9]:
page=urllib.request.urlopen(url)

In [10]:
from bs4 import BeautifulSoup

In [11]:
soup = BeautifulSoup(page, "lxml")

In [12]:
all_tables=soup.find_all("table")

In [13]:
right_table=soup.find('table', class_='wikitable sortable')

In [14]:
A=[]
B=[]
C=[]
for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

In [15]:
import pandas as pd
Toronto=pd.DataFrame(A,columns=['PostalCode'])
Toronto['Borough']=B
Toronto['Neighborhood']=C
Toronto.head()

  PostalCode             Borough                 Neighborhood
0      M1A\n      Not assigned\n               Not assigned\n
1      M2A\n      Not assigned\n               Not assigned\n
2      M3A\n        North York\n                  Parkwoods\n
3      M4A\n        North York\n           Victoria Village\n
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [16]:
for columnname in Toronto.columns.values.tolist():
    Toronto[columnname] = Toronto[columnname].map(lambda x: x.rstrip('\n'))
Toronto.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [17]:
Toronto=Toronto[Toronto.Borough != 'Not assigned']
Toronto.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [18]:
Toronto.reset_index(inplace=True)

In [19]:
Toronto=Toronto[['PostalCode','Borough','Neighborhood']]

In [20]:
Toronto.shape

(103, 3)

In [4]:
import pandas as pd
Toronto_ll=pd.read_csv('https://cocl.us/Geospatial_data')
Toronto_ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
Toronto_ll.rename(columns={'Postal Code':'PostalCode'},inplace=True)

In [27]:
Toronto=Toronto.join(Toronto_ll.set_index('PostalCode'),on='PostalCode')

In [28]:
Toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494